# Виртуальное окружение
venv/
env/

# База данных (обычно ее не хранят в гите, если это не учебный пример)
db.sqlite3

# Кэш питона
__pycache__/
*.pyc

# Настройки среды (если будешь использовать потом)
.env
.DS_Store
